@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Amarante&family=Anton&family=Bebas+Neue&family=Berkshire+Swash&family=Bungee+Shade&family=Chewy&family=Cinzel&family=Comic+Relief:wght@400;700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=DM+Serif+Text:ital@0;1&family=Dancing+Script:wght@400..700&family=Elsie:wght@400;900&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Headland+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Leckerli+One&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lilita+One&family=Lily+Script+One&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Madimi+One&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+JP:wght@200..900&family=Nova+Slim&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=PT+Sans+Narrow:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+RO:wght@100..400&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&family=Rubik+Vinyl&family=Sigmar&family=Smooch+Sans:wght@100..900&family=Space+Grotesk:wght@300..700&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Spicy+Rice&family=Truculenta:opsz,wght@12..72,100..900&family=Viaoda+Libre&display=swap');
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 50px;
  border: 1px solid #ccc;
  background-color: #000000;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  border: 1px solid gray;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app_nav {
  overflow-x: hidden;
  display: flex;
  padding-left: 10px;
  font-size: 30px;
  font-family: "Lobster Two";
  color:rgb(255, 255, 255);
  gap: 650px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 20px 40px 10px rgba(0, 0, 0, 0.5);
  border-bottom: 0px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
 
  background-color: #000000;
}
.app_nav h1{
  margin-top: 10px;
}
.app_nav img{
  width: 250px;
  height: 80px;
}

.app_boards_container {
  background-color: rgb(40, 40, 40);
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  padding-top: 20px;
}

.app_boards {
  height: 100%;
  width: fit-content;
  padding: 10px 30px;
  display: flex;
  gap: 30px;
}

.app_boards_last {
  flex-basis: 290px;
  min-width: 290px;
}

.app_boards_add-board {
  background-color: #000000;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.12);
  width: 100%;
  text-align: center;
}
.app_boards_add-board_edit {
  background-color: #000000;
  border-radius: 10px;
  padding: 10px;
}
